# Virtual Environments
venv/
sabin_venv/
ENV/
env/

# Python & Django Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables & Secrets
.env
.env.local

# IDE & Editor Settings
.vscode/
.idea/

# Database Files
*.sqlite3
db.sqlite3

# Static Files Build Directory
staticfiles/
